CREATE OR REPLACE TRIGGER {{trigger_name}}
{{position}} INSERT OR UPDATE OR DELETE ON {{table_name}}
{{for_each_row}}
DECLARE
  e_invalid EXCEPTION;
BEGIN
  IF {{not}} {{column_1}} {{operator_1}} {{value_min}} {{operator}} {{not}} {{column_1}} {{operator_1}} {{value_max}} THEN
  RAISE e_invalid;
END IF
EXCEPTION
  WHEN e_invalid THEN
    DBMS_OUTPUT.PUT_LINE(“Not allowed to”);
END;

