<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//ondora04.hu.nl:1521/EDUC20</property>
        <property name="hibernate.connection.username">cursist</property>
        <property name="hibernate.connection.password">cursist6791</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <mapping class="hu.tosad2019.groep4.generator.dataaccess.objects.dataaccesobjects.Range"/>
        <mapping class="hu.tosad2019.groep4.generator.dataaccess.objects.dataaccesobjects.BusinessRule"/>
        <mapping class="hu.tosad2019.groep4.generator.dataaccess.objects.dataaccesobjects.BusinessRuleCategory"/>
        <mapping class="hu.tosad2019.groep4.generator.dataaccess.objects.dataaccesobjects.BusinessRuleType"/>
        <mapping class="hu.tosad2019.groep4.generator.dataaccess.objects.dataaccesobjects.DbColumn"/>
    </session-factory>
</hibernate-configuration>